.HeroBackground{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Pictures/CodeWallpapper.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.DivPicture{
    width: fit-content;
    height: fit-content;
    margin: auto;
    animation: ShowPicture 1s linear;
}
@keyframes ShowPicture{
    0%{
        opacity: 0;
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX((0%));
    }
}
.ProfilePicture{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: ridge;
    border-color: black;
}
.ContentMainMenu{
    text-align: center;
    font-style: italic;
    animation: ShowDivContentMainMenu 1s linear;
}
@keyframes ShowDivContentMainMenu{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        opacity: 1;
        transform: translateX((0%));
    }
}
.WelcomeMessage{
    color: wheat;
}
.DivTblIndexLng{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    box-shadow: 6px 6px 5px gray;
    animation: ShowDivTableShortcuts 1s linear;
}
@keyframes ShowDivTableShortcuts{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY((0%));
    }
}
.BtnInfoEng{
    background-image: url('Pictures/UnitedStateFlag.jpg');
    background-size: 100px 70px;
    width: 100px;
    height: 70px;
    border-radius: 16px;
    box-shadow: 6px 6px 0px gray;
}
.BtnInfoEsp{
    background-image: url('Pictures/MexicoFlag.png');
    background-size: 100px 70px;
    width: 100px;
    height: 70px;
    border-radius: 16px;
    box-shadow: 6px 6px 0px gray;
}
.TableShortcuts{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*Styles for Spanish Info*/
.HeroBackgroundSpanishInfo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Pictures/Desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.HeaderPersonalInfo{
    display: flex;
}
.WelcomeTextSpanish{
    color: wheat;
    margin-top: 1%;
    margin-left: 1%;
    width: fit-content;
    height: fit-content;
    width: 75%;
    animation: ShowWelcomeTextSpanish 1s linear;
}
@keyframes ShowWelcomeTextSpanish{
    0%{
        opacity: 0;
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX((0%));
    }
}
.ButtonBackHome{
    width: 25%;
    animation: ShowButtonBackHome 1s linear;
}
@keyframes ShowButtonBackHome{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    100%{
        opacity: 1;
        transform: translateX((0%));
    }
}
.ButtonBackHome button{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    color: white;
    background-color: purple;
    font-size: 40px;
    box-shadow: 5px 5px 5px rgb(254 1 254);
    border-radius: 16px;
}
.DivPersonalInfoSpanish{
    color:wheat;
    width: 95%;
    border-radius: 4px;
    box-shadow: 5px 5px 5px darkgrey;
    margin-left: 1%;
    float: left;
    visibility: hidden;
}
.DivPersonalInfoSpanish div{
    margin-left: 1%;
    color:wheat;
}
.DivInfoBachelorDegree{
    display: flex;
}
.DivEducationInfo{
    color:wheat;
    width: 95%;
    border-radius: 4px; 
    box-shadow: -5px 5px 5px darkgrey;
    margin-top: 2%;
    margin-right: 1%;
    float: right;
    visibility: hidden;
}
.DivEducationInfo div{
    margin-left: 1%;
    color:wheat;
}
.ITLMInfo{
    position: relative;
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
    width: 50%;
}
.ITLMInfo div{
    display: none;
    min-width: 50%;
}
.ITLMInfo:hover div{
    display: block;
    animation: ShowITLMInfo 1s;
}
@keyframes ShowITLMInfo {
    0%{
        opacity: 0;
        transform: translateZ(20%);
    }
    100%{
        opacity: 1;
        transform: translateZ((0%));
    }
}
.CelexInfo{
    position: relative;
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
    width: 50%;
}
.CelexInfo div{
    display: none;
    min-width: 50%;
}
.CelexInfo:hover div{
    display: block;
    animation: ShowCelexInfo 1s;
}
@keyframes ShowCelexInfo {
    0%{
        opacity: 0;
        transform: translateZ(20%);
    }
    100%{
        opacity: 1;
        transform: translateZ((0%));
    }
}
.InfoAboutEducaction{
    margin-top: 1%;
}
.DescriptionEducation{
    margin-top: 1%;
    margin-left: 1%;
}
.DivWorkExperience{
    color:wheat;
    width: 95%;
    border-radius: 4px;
    box-shadow: 5px 5px 5px darkgrey;
    margin-top: 2%;
    margin-left: 1%;
    float: left;
    visibility: hidden;
}
.DivWorkExperience h4{
    margin-left: 1%;
    color:wheat;
}
.WorkExperienceInfo{
    margin-left: 1%;
}
.DivContact{
    color:wheat;
    width: 95%;
    border-radius: 4px;
    box-shadow: -5px 5px 5px darkgrey;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: right;
    visibility: hidden;
}
.DivContact div{
    margin-left: 1%;
    color:wheat;
}
.ButtonLikedin{
    font-size: 40;
    color: blue;
    background-color: white;
    width: fit-content;
    height: fit-content;
}
.slideUp {
    animation-name: slideUp;
    animation-duration: 1s;
    visibility: visible;
}
@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(10%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
/*End styles for spanish info and start for english info*/