body{
    background-color: #fff;
    margin: 0;
}
header{
    background-color: #eee;
    display: flex;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
header div{
    width: 100%;
    height: 100%;
}
.divName{
    width: 80%;
    padding: 10px 15px;
}
.divMenu{
    width: 20%;
    font-weight: 700;
    padding: 10px 15px;
}
/* dropdown menu shortcuts start*/
.dropbtn {
    background-color: #247;
    color: white;
    padding: 10px 15px;
    display: flex;
    width: 100%;
    height: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(3, 32, 252, 0.796);
    z-index: 1;
    width: 100%;
    height: fit-content;
    animation: showDropMenu 1s ease;
}
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a:hover {
    padding: 5px 10px;
    background-color: #ddd;
    transition: 1s ease;
}
.dropdown:hover .dropdown-content {
    display: block;
    transition: display 1s;
}  
@keyframes showDropMenu{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

li {
    list-style: none;
    padding: 0;
}
/* dropdwon shortcuts end */
/* styles for welcome message */
.divContainerWelcome{
    display: flex;
    height: 500px;
    background-color: #ddd;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../Images/Office.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
.divText{
    padding: 10px 15px;
    font-family: 'Rufina';
    white-space: pre-line;
    color: white;
}
/* end styles for welcome message */
.divContainerInfo{
    visibility: hidden;
    font-family: 'Rufina';
    white-space: pre-line;
    padding: 10px 15px;
    margin: 10px;
    background-color: #ddd;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.InfoText{
    padding: 10px 15px;
    margin: 10px;
    background-color: #eee;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 16px;
}
.DivSkills{
    white-space: initial;
}
.Skills{
    list-style: none;
    margin: 0;
    padding: 10px 15px;
}
.Skills button{
    background-color: #fff;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 16px;
    text-align: center;
    width: 100px;
    margin: 10;
}
.Skills button:hover{
    background-color: black;
    color: yellow;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(255, 251, 0, 0.3);
    transition: 1s ease;
}
.DivBtnCv{
    white-space: normal;
}
.BtnCv{
    background-color: #247;
    color: white;
    padding: 10px 15px;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.3);
}
.BtnCv:hover{
    background-color: red;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
/* styles for container info education */
.divContainerEducation{
    font-family: 'Rufina';
    visibility: hidden;
    padding: 10px 15px;
    margin: 10px;
    background-color: #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.divDescUn{
    background-color: #f1f1f1;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    animation: showDescUn 5s ease;
    border-radius: 16px;
}
@keyframes showDescUn{
    0%{
        opacity: 0;
        transform: translateY(1%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.h3DescUn{
    white-space: pre-line;
}
.text{
    margin-top: 10px;
}
.h3TitleITLM{
    width: fit-content;
    position: relative;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    border-radius: 16px;
    animation: showTitle 5s linear;
}
@keyframes showTitle{
    0%   {background-color:lightgreen; left:50%; top:0px;}
    25%  {background-color:green; left:0%; top:0px;}
    50%  {background-color: lightyellow; left:0%; top:0px;}
    75%  {background-color:yellow; left:0%; top:0px;}
    100%  {background-color:#ddd; left:0%; top:0px;}
    
}
.h3TitleIPN{
    width: fit-content;
    position: relative;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    border-radius: 16px;
    animation: showTitleIPN 5s linear;
}
@keyframes showTitleIPN{
    0%   {background-color:darkred; left:50%; top:0px;}
    25%  {background-color: darkred; left:0%; top:0px;}
    50%  {background-color: brown; left:0%; top:0px;}
    75%  {background-color:brown; left:0%; top:0px;}
    100%  {background-color:#ddd; left:0%; top:0px;}
    
}
/* end of styles for container info education */
/* styles for container info experience */
.divContainerExperience{
    visibility: hidden;
    font-family: 'Rufina';
    padding: 10px 15px;
    margin: 10px;
    background-color: #ddd;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.divDescExp{
    background-color: #f1f1f1;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    border-radius: 16px;
    display: flex;
    animation: showdivDescExp 1s linear;
}
@keyframes showdivDescExp{
    0%{
        opacity: 0;
        transform: translateY(1%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.divExp{
    width: 100%;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    animation: showdivExp 2s linear;
}
@keyframes showdivExp{
    0%{
        opacity: 0;
        transform: translateY(1%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.divImgExp{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}
.ulLanguajes, .ulTool, .ulFramework {
    background-color: lavender;
    padding: 10px 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    border-radius: 16px;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
}
.ulLanguajes:hover, .ulTool:hover, .ulFramework:hover{
    box-shadow: 5px 5px 10px rgb(0, 183, 255);
    background-color: #247;
    color: white;
    margin-left: 10px;
    transition: 1s ease;
}
/* end styles for container info experience */
/* styles for container info certificates */
.divContainerCertificates{
    font-family: 'Rufina';
    visibility: hidden;
    padding: 10px 15px;
    margin: 10px;
    background-color: #ddd;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.divCertificatesDescription{
    padding: 10px 15px;
    margin: 10px;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
}
.divCertificatesDescription button{
    background-color: #247;
    padding: 10px 15px;
    color: white;
    font-family: 'Rufina';
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
}
.divCertificatesDescription button:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    background-color: red;
    color: white;
    margin-left: 10px;
    transition: 1s ease;
}
.divInfoCer{
    padding: 10px 15px;
    margin: 15px;
    background-color: #f1f1f1;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}
.divInfoCer:hover{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    transition: 1s ease;
}
.HdrCer{
    text-align: left;
    padding: 10px 15px;
    background-color: #ddd;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}
.DivFooter{
    font-family: 'Rufina';
    padding: 10px 15px;
    color: white;
    background-color: grey;
    text-align: center;
}
.BtnContact{
    background-color: rgb(35, 69, 120);
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 16px;
    padding: 10px 15px;
}
.BtnContact:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgb(225, 225, 225, 0.7);
    transition: 1s ease;
}
.slideUp {
    animation-name: slideUp;
    animation-duration: 1s;
    visibility: visible;
}
@keyframes slideUp {
    0% {
    opacity: 0;
    transform: translateY(10%);
    } 
    100% {
    opacity: 1;
    transform: translateY(0%);
    }
}